.center{
	text-align: center;
}
.red{
	background-color: #FF704D;
}
.headerx{
	background-color:#ff6600;
}
.padding-bot-top{
	padding-bottom: 40px;
}
.padding-bot-bot{
    padding-bottom: 80px;
}
ul{
    list-style-type: none;
}