@import url('https://fonts.googleapis.com/css?family=Roboto');

header{
    margin-top: 10%;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 4px white;
}
.deco{
    color: black;
    text-decoration: underline;
}
a:hover{
    color: gray;
    text-decoration: none;
}
.word-wrap{
    word-wrap: break-word;
}
.vcenter {
    display: inline;
    vertical-align:middle;
    float:none;
}
.square{
    background-color: #66CCFF;
    min-height: 10vh;
    width: 100%;
    border: 2px solid #66CCFF;
    box-shadow: 10px 10px 5px #AAAAAA;
    margin-bottom: 10%;
    padding:5px;
}
body{
	background-color: #0099CC;
}
.padding-bot-top{
	padding-bottom: 40px;
}
.padding-bot-bot{
    padding-bottom: 80px;
}
ul{
    list-style-type: none;
}
footer{
    padding: 19px;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    background-color: #222;
    border-color: #080808;
    position: fixed;
}
section{
    margin-bottom: 70px;
    font-family: 'Roboto', sans-serif;
}
@media (min-width: 992px) {
    .navbar .navbar-nav{
        display:inline-block;
        float:none;
        vertical-align:top;
    }
    .navbar .navbar-collapse{
        text-align:center;
    }
    header{
        margin-top: 4%;
        font-family: 'Roboto', sans-serif;
        text-shadow: 2px 2px 4px white;
    }
    .square{
        background-color: #66CCFF;
        min-height: 10vh;
        width: 100%;
        border: 2px solid #66CCFF;
        box-shadow: 10px 10px 5px #AAAAAA;
        margin-bottom: 25%;
        padding: 5px;
    }
    section{
        margin-bottom: 0;
        font-family: 'Roboto', sans-serif;
    }
}
@media (min-width: 768px){
    .navbar .navbar-nav{
        display:inline-block;
        float:none;
        vertical-align:top;
    }
    .navbar .navbar-collapse{
        text-align:center;
    }
    header{
        margin-top: 4%;
        font-family: 'Roboto', sans-serif;
        text-shadow: 2px 2px 4px white;
    }
    .square{
        background-color: #66CCFF;
        min-height: 10vh;
        width: 100%;
        border: 2px solid #66CCFF;
        box-shadow: 10px 10px 5px #AAAAAA;
        margin-bottom: 10%;
        padding: 5px;
    }
    section{
        margin-bottom: 0;
        font-family: 'Roboto', sans-serif;
    }
}